[submodule "electron-app"]
	path = electron-app
	url = git@github.com:softwares-compound/cadmium-electron-app.git
[submodule "ai-service"]
	path = ai-service
	url = git@github.com:softwares-compound/cadmium-ai-service.git
