[submodule "electron-app"]
	path = electron-app
	url = git@github.com:softwares-compound/Neocadmium-desktop.git
	branch = develop
[submodule "ai-service"]
	path = ai-service
	url = git@github.com:softwares-compound/Neocadmium-ai-service.git
	branch = develop
